*{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: "Baloo 2";
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
}
.completar_pedido{
    padding-top: 40px;
    padding-left: 160px;
}
.texto_completar{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}
.infos_pedido{
    height: 372px;
    width: 640px;
    background-color: #F3F2F2;
    border-radius: 2px;
    line-height: 130%;
}
.text-endereco{
    height: 44px;
    width: 560px;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}
.img-endereco{
    padding-right: 8px;
}
.endereco{
    display: flex;
    flex-direction: column;
}
.text1-endereco{
    font-size: 16px;
    color: #403937;
}
.text2-endereco{
    font-size: 14px;
    color: #574F4D;
    margin-bottom: 32px;
}
.informacoes{
    margin-left: 40px;
    margin-top: 32px;
}
.info1{
    height: 42px;
    width: 200px;
    background-color: #EDEDED;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
}
.cep{
    text-align: start;
    color: #8D8686;
    line-height: 130%;
    text-wrap: nowrap;
}
.info2{
    height: 42px;
    width: 560px;
    background-color: #EDEDED;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    padding: 12px;
}
.rua{
    text-align: start;
    color: #8D8686;
    line-height: 130%;
    text-wrap: nowrap;
}
.info3{
    height: 42px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
    
}
.div-numero{
    height: 42px;
    width: 200px;
    background-color: #EDEDED;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    text-wrap: wrap;
    padding-top: 2%;
}
.numero{
    margin: 10px 12px 12px 12px;
    height: 18px;
    width: 176px;
    line-height: 130%;
    color: #8D8686;
}
.complemento{
    height: 42px;
    width: 348px;
    background-color: #EDEDED;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    display: flex;
    justify-content: baseline;
}
.c1{
    width: 274px;
    line-height: 130%;
    color: #8D8686;
    margin: 10px 12px 12px 12px;
}
.c2{
    line-height: 130%;
    margin-right: 12px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-style: italic;
    font-size: 12px;
    color: #8D8686;
}
.info4{
    height: 42px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.i41{
    height: 42px;
    width: 200px;
    background-color: #EDEDED;
    color: #8D8686;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    line-height: 130%;
    text-wrap: nowrap;
    padding-top: 1.5%;
    padding-left: 2%;
}
.i42{
    height: 42px;
    width: 276px;
    background-color: #EDEDED;
    color: #8D8686;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    line-height: 130%;
    text-wrap: nowrap;
    padding-top: 1.5%;
    padding-left: 2%;
}
.i43{
    height: 42px;
    width: 60px;
    background-color: #EDEDED;
    color: #8D8686;
    border: 1px solid #E6E5E5;
    border-radius: 4px;
    line-height: 130%;
    text-wrap: nowrap;
    padding-top: 1.5%;
    padding-left: 2%;
}
.pagamento{
    height: 207px;
    width: 640px;
    margin-top: 12px;;
    background-color: #F3F2F2;
}
.pagar{
    display: flex;
    flex-direction: row;
    padding: 40px 40px 0px;
}
.img-pagar{
    padding-right: 8px;
}
.info-pagar{
    display: flex;
    flex-direction: column;
}
.text1-pagar{
    font-size: 16px;
    color: #403937;
}
.text2-pagar{
    font-size: 14px;
    color: #403937;
}
.modos-pagar{
    height: 51px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 32px 32px 40px;
}
.modo-pagar{
    height: 51px;
    width: 178.67px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    background-color: #E6E5E5;
    border-radius: 6px;
}
.img-modo{
    width: 12px;
    height: 12px;
    margin-left: 10px;
}
.credito, .debito, .dinheiro{
    font-size: 12px;
    color: #574F4D;
    text-transform: uppercase;
    padding-left: 12px;
}
.text-selected{
    font-size: 18px;
    font-weight: bold;

}
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss"